@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

ul,ol,li{
    list-style: none;

}
a{
    text-decoration: none;
    color:black;
}
.img-circle{
    width:50%;
    height:50%;
    border-radius:50%;
}
/********* Splash Image ************/
header {
    background: url('../img/main_background.png') center center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: #fff;
}
/************* Main Content ******************/
.main_content {
    position: relative;
    float: right;
    width: 50%;
    padding: 0 25px;
    font-size: 2em;
    line-height: 40px;
}

.main_content span {
    margin: 30px 0;
    display: block;
    font-weight: 100;
}

.main_content span b {
    font-size: 1.25em;
    font-weight: 800;
}

.main_content span:nth-of-type(2) {
    font-size: .75em;
}
/**************** Left Blue banner content  **********************/
.light_blue {
    position: relative;
    left: 50px;
    width: 33%;
    float:left;
    height: 100vh;
    background-color: rgba(31, 175, 234, 0.5);
}

.light_blue img {
    position: relative;
    width: 45%;
    top: 10%;
}

.light_blue span {
    float: left;
    position: relative;
    top: 20%;
    font-size: 1em;
    padding: 0 15px;
    color: #fff;
    line-height: 20px;
    text-align: center;
}
/******** button styling *********/
.main_btn {
    border: 3px solid #3a322e;
    background-color:#e9d9a5;
    font-size: 1em;
    padding: 10px;
    margin: 0 15px;
    width: 40%;
    float: left;
    position: relative;
    top: 50%;
    color:#3a322e;
}
/************ Article Banner Styling **********************/

.container{
     background-color:#3a322e;
    color:#fff;
}
.col-4 span{
   padding:20px;
}
.row{

    width:100%;

}

.col-4{

    text-align: center;
    margin:0 auto;
    padding:20px;


}

.row img{
    display:block;
    margin:0 auto 20px;
}
/*************************** Gallery Styling ***********************/

.slide-viewer{
    position:relative;
    overflow:hidden;
    height:300px;
}
.slide-group{
    width:100%;
    height:100%;
    position:relative;
}
.slide{
    width:100%;
    height:100%;
    display:none;
    position:absolute;
}
slide:first-child{
    display:block;
}
/*************************** overlap banner Styling ***********************/
.light_banner{
    background-color: rgba(42, 120, 165, 0.7);
    height: 10vh;
    width:80%;
    float:left;
    position:relative;
    padding:10%;
    margin-bottom:10%;
    color:#fff;
}
.light_banner span{
    color:#fff;
    font-size: 2em;

}
.light_banner img{
    float:right;
    width:5vw;
}

/*************************** Property Styling ***********************/
.property{
    background: url(../img/property_background_min.jpg) center center no-repeat;
    background-size: cover;
    width:100vw;
    text-align: center;
}
.property h1{
    padding:6em 0 2em;
    color:white;


}
.property .header{
    border: 1px solid #3a322e;
    background-color: rgba(214, 199, 151, .8);
    width:70%;
    margin: 0 auto;
    padding: 1em 0;
    font-size:1.25em;
    font-weight:900;

}
.property .content{
    border: 1px solid #3a322e;
    background-color:rgba(49, 152, 205, .6);
    width:70%;
    margin: 0 auto;
    padding:1em 0;
    line-height: 2em;
    color:#fff;
}
.b_footer{
    border: 1px solid #0f455c;
    background-color:#0f455c;
    width:70%;
    margin:0 auto;
    padding:1em 0;
}
.b_footer a{
    color:#fff;
    font-size: 1.2em;
}
/*************************** Footer Styling ***********************/
footer{
      background-color:#3a322e;
      color:#fff;
}
footer span{
    display:block;
    padding: 1em;
    font-weight: 100;
}
footer a{
    display:block;
    color:#fff;
    font-weight: 100;
}

/************************Media Queries *********************************/
@media screen and (max-width:550px) {
    .light_blue {
        background-color: transparent;
        left:0;
        top:50%;
        height:100px;
        width:100vw;
    }
    .light_blue img,
    .light_blue span {
        display: none;
    }
    .main_content {
        font-size:1.75em;
        line-height: 1.25em;
        top: 2%;
        float:right;
        width: 70%;
        margin-right:5%;

    }
    .main_btn {
        font-size: 1.5em;
        width: 60%;
        padding: 2% 0;
        margin: 2% 20%;
        top:100%;
    }
}

@media screen and (min-width:551px) {
    .light_blue img {
        width: 60%;
        left: 20%;
    }
    .light_blue span {
        font-size: 1.5em;
        line-height: 2em;
    }
    .main_btn {
        font-size: 1.2em;
        width: 70%;
        padding: 2% 0;
        margin: 5% 15%;
        top: 40%;
    }
}


@media screen and (min-width:1200px) {
    .main_content {
        width: 47%;
        margin-right: 5%;
    }
    .main_content span {
        font-size: 1.75em;
        line-height: 1.3em;
    }
    .main_content span:nth-of-type(2) {
        font-size: 1.15em;
        line-height: 1.3em;
    }
    .light_blue span {
        width: 60%;
        left: 17%;
        line-height:1.5em;
    }
    .light_blue img {
        left: 25%;
        width: 50%;
    }
    .main_btn {
        width:60%;
        top:30%;
        padding: 2% 0;
        margin: 2% 20%;
        font-size: 1.5em;
    }
}
